#logo{
		}

		body{
			background-color: #ebeff5;
		}


		#total-orders{
			background-color: #056693;
		}


		#orders-delivered{
			background-color: #056693;
		}

		#orders-pending{
			background-color: #056693;
		}
